@import url("onlinewebfonts.com/c/164a60c2e090248befbcf32fdd5af386?family=LuloCleanOne-Bold");

body{
    background-color: black;
    background-image: url('images/background.gif');
    background-size: cover;
    background-position: fixed;
    height: 100vh;
}

#big-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-family: 'Gotham', sans-serif;
    font-size: 100px;
    font-weight: 1000;
    background: linear-gradient(to bottom, #ffffff, rgb(0, 255, 42));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#welcome-title{
    font-family: 'Consolas';
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
}
.welcome-container{
    align-content: center;
    margin-top: 50px;
    height: 60vh;
}
#github-ref{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    width: 100%;
}
#icon-github{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}
#link-ref{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Consolas';
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 10px;
}
#icon-js{
    width: 80px;
    height: 80px;
    padding: 15px 10px;
}